<aside class="span-ceneterd--11 tablet--span-centered-11 desktop--span-3-1 clear">

	<div nav data-menu-items="productions"></div>
	
	<!-- /////////////////////////////////////////////////////////////////////////////////////////////////// -->
	<div class="contact floating-grid-container clear">
		<div class="float-4 social">
			<a target="_blank" href="https://www.facebook.com/theatermilla?fref=ts">
				<i class="icon-facebook">
				</i>
			</a>
		</div>
		<div class="float-4 social">
			<a target="_blank" href="https://instagram.com/theatermilla/">
				<i class="icon-instagram">
				</i>
			</a>
		</div>
		<div class="float-4 social">
			<a href="mailto:theatermilla@gmail.com">
				<i class="icon-mail">
				</i>
			</a>
		</div>
	</div>
</aside>
<main class="span-100 tablet--span-100 desktop--span-9-4">
	<section class="span-centered-11 desktop--span-centered-10">
		<article 
		class="production" 
		data-ng-repeat="production in productions" 
		id="<% production.id %>">
			<header>
				<h1 class="title"><% production.title %></h1>
				<div data-ng-if="production.images.length > 0" class="carousel clear">
					<slick autoplay="true" autoplaySpeed="3000">
						<div data-ng-repeat="image in production.images">
							<img src="<% image.url %>" alt="">
						</div>
					</slick>
				</div>
				<!-- <span data-ng-if="production.date.length > 0" class="date"><% production.date %></span> -->
			</header>
			<body>
				<div data-ng-if="production.info" class="tabs">
					<div tabs >
						<div data-ng-if="production.info.colofon" pane data-info="production.info" data-title="info" data-template="'/assets/js/views/info.html'"></div>
						<div data-ng-if="production.info.playTime" data-info="production.info" pane data-title="praktisch" data-template="'/assets/js/views/practical.html'"></div>
						<div data-ng-if="production.info.tickets" data-info="production.info.tickets" pane data-title="tickets" data-template="'/assets/js/views/tickets.html'"></div>
					</div>
				</div>

				<blockquote data-ng-if="production.quote" class="quote" ng-bind-html="production.quote"></blockquote>
				<div class="content" ng-bind-html="production.body"></div>
			</body>
		</article>
	</section>

</main>