<div data-ng-controller="milla.infoController">
	<div class="clear">
		<a data-ng-if="info.poster" href=""  class="float-l" data-ng-click="openPoster()">
			<img class="poster small" data-ng-src="<% info.poster %>" alt="">
		</a>
		<div class="colofon" ng-bind-html="info.colofon">
		</div>
	</div>
</div>





