<div class="clear practical">
	<strong>Speellijst:</strong>
	<table class="default-table">
	  <tr data-ng-repeat="item in info.playTime">
	    <td><% item.date %></td>
        <td data-ng-if="item.time"><% item.time %></td>
	    <td><% item.venue %></td>
	  </tr>
	</table>
	<p data-ng-if="info.sponsers" class="sponsers" ng-bind-html="info.sponsers"></p>
    <div data-ng-if="info.location" class="sponsers">
        <strong>Locatie:</strong>
        <p data-ng-if="info.location" ng-bind-html="info.location"></p>
    </div>
</div>
