<div data-ng-controller="milla.ticketController" class="clear">
	<div data-ng-show="step==1">
		<form name="ticketForm" method="post" ng-submit="submitForm()" novalidate class="span-100">
			<fieldset data-ng-repeat="section in info.form.sections" >
				<h2 data-ng-if="section.title.length > 0"><% section.title %></h2>
					<div class="form-group" data-ng-repeat="field in section.fields">
					<div input-field
					id="<% field.id %>"
					placeholder="<% field.attributes.placeholder %>"
					name="<% field.id %>"
					type="<% field.type %>"
					label="<% field.label %>"
					ng-model="field.value"
					data-ng-options="field.options"
					validation="field.validation"
					layout="field.layout"
					tabindex="1"></div>
				</div>
				<input type="hidden" id="{{hidden.name}}" name="{{hidden.name}}" ng-value="hidden.value" />
			</fieldset>
			<div class="submit-wrapper">
				<span class="spinner"
					us-spinner="{radius:10, width:2, length: 5, color: '#1FC9D0'}"
					spinner-key="milla-spinner">
				</span>
				<button class="btn-default float-r" data-ng-disabled="formState.isBusy">
					Verstuur
				</button>
			</div>
		</form>
	</div>
	<div data-ng-show="step==2">
		<div class="box">
			<strong>Bedankt!</strong>
			<p>
				We hebben uw aanvraag goed ontvangen.
				Verdere informatie omtrent de betaling van de tickets ontvangt u van ons via mail.
				<strong>Opgelet!</strong> Geen mailtje ontvangen met je bestelling? Kijk dan zeker eens in je spam mail.
				Voor verdere vragen kan u ons steeds <a href="mailto:theatermilla@gmail.com">contacteren</a>.
			</p>
			<a href="" data-ng-click="prevStep()">Nog een ticket bestellen?</a>
		</div>
	</div>
</div>


