/**
 * HOME PAGE SCSS 
 */

.home {
	max-width: 1500px;
	margin: auto;
	background: $white;

	aside {
		.contact {
			display: none;
		}
	}

	main {
		overflow-y: scroll;
		@include rem-dimensions("margin-top", 74);
	}
	

	.submit-wrapper {
		position: relative;
		.spinner {
			position: absolute;
			top: 22px;
			right: 126px;
		}
	}

	.sponsers {
		@include rem-dimensions("margin-top", 30);
		@include rem-dimensions("padding-bottom", 0);
	}


	.box {
		a {
			text-decoration: underline;
		}
	}

	.poster {
		&.small {
			width: 70px;
			@include rem-dimensions("margin-right", 20);
		}  
	}
	

	/**
	 * Respond to Breakpoint 
	 * @param  {[String]} "tablet" width 640px 
	 *
	 */
	@include respond-to("tablet") {
		
		
	}

	/**
	 * Respond to Breakpoint 
	 * @param  {[String]} "desktop" width 960px 
	 *
	 */
	@include respond-to("desktop") {


		main {
			@include rem-dimensions("margin-top", 0);
		}
		
		aside {
			position: fixed;
			top: 0px;
			bottom: 0px;
			border-right: 1px dashed $grayLight;
			border-left: 1px dashed $grayLight;
			@include rem-dimensions("max-width", 370);
			.contact {
				display: block;
				@include rem-dimensions("margin", 50 10 0 10);
				@include rem-dimensions("padding", 3 0 3 0);
				border-top: 1px dashed $grayLight;
				border-bottom: 1px dashed $grayLight;

				.icon-facebook, .icon-instagram, .icon-mail {
					@include adjust-font-size-to(25px);
					@include rem-dimensions("width", 25);
					@include rem-dimensions("padding-top", 5);
					margin: auto;
					display: block;

					&:hover {
						@include single-transition(color, .2s, linear);
						color: $green;
					}
				}

				.social {
					border-right: 1px dashed $grayLight;
					padding-left: 0px;
					cursor: pointer;
					a {
						color: $text-color;
					}
					&:nth-child(3n+0) {
						border-right: none;
					}
				}

				.email {
					@include adjust-font-size-to(12px);
					p { padding: 0;}
					span {
						font-weight: 600;
						text-transform: uppercase;
					}
				}
			}
		}
	}
}




