
.ngdialog {
	
	&.ngdialog-theme-default {
		padding-bottom: 50px !important;
		padding-top: 50px !important;
	}

	.poster {
		@include rem-dimensions("padding", 10);
		&.big {
			width: 100%;
		}  
	}
}
