/**
*
* DIRECTIVE: INPUTFIELD
*
**/

$field-problem-background-color: #D54444;

.inputWrapper {
	@include rem-dimensions("margin-bottom", 25);

	.required {
		position: relative;
		display: block;

		&:after {
			content: '*';
			position: absolute;
			@include rem-dimensions("top", 0);
			@include rem-dimensions("right", 5);
			@include rem-dimensions("font-size", 15px);
			color: #F53553;
		}
	}

	.field-image {
		@include rem-dimensions("padding", 10 0);
	}

}

.inputLayoutWrapper,
.select-wrapper {
 	position: relative;
	.field-problem {
		@include opacity(0);
		display: none;
		position: absolute;
		z-index: 2;
		width: 100%;
		@include rem-dimensions("padding", 10 10);
		@include rem-dimensions("margin", 10 0 0 0);
		background-color: $field-problem-background-color;

		&::before {
			content: "";
			position: absolute;
			@include rem-dimensions("left", 13);
			@include rem-dimensions("top", -8);
			@include css-triangle("up", 20px,  $field-problem-background-color);
		}

		p {
			color: white;
			font-weight: 600;
			@include rem-dimensions("padding-bottom", 0);
			@include rem-dimensions("font-size", 12px);
		}

	}
}

.inputWrapper input.fieldInvalid, 
.inputWrapper textarea.fieldInvalid {
	&:focus + .field-problem {
		@include single-transition(opacity, 0.25s);
		@include opacity(1);
		display: block;    
	}
}

.datepickerField input + .field-problem {
	@include opacity(1);
	display: block;  
}

.select-wrapper {
	.field-problem {
		@include opacity(1);
		display: block;
	}

    option[disabled="disabled"]{
      opacity: 0.5;
    }
}

