.nav--mobile {
	display: block;
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 10;
	border-bottom: 1px dashed $grayLight;
	background: $white;
	@include respond-to("desktop") {
		display: none;	
	}
	.logo {

		@include rem-dimensions("margin-left", -5);
		img {
			width: 60px;
		}
	}

	

	.nav-list__item {
		text-align: center;
	}

	.nav--mobile__dropdown {
		list-style-type: none;
		float: right;
	}
	.nav--mobile__dropdown--toggle {
		.icon-menu {
			@include adjust-font-size-to(40px);
			line-height: 70px;
			color: $grayDark
		}
	}

	.nav--mobile__dropdown-list {
		position: absolute;
		left: 0px;
		top: 74px;
		right: 0px;
		list-style-type: none;
		background: $white;
		z-index: 100;
	}
}

.nav--desktop {
	display: none;
	@include respond-to("desktop") {
		display: block;	
	}
	.logo {
		@include rem-dimensions("margin-left", 4);
	}	
}


nav-list {

	@at-root {

		.#{&} {
			list-style-type: none;
		}

		.#{&}__item {
			cursor: pointer;
			
			span {
				@include css-circle($smoke, 15px, false);
				@include border-radius(50%);
				position: absolute;
				right: -7.5px;
				top: 25px;
				display: none;

				.date {
					position: relative;
					top: -3px;
					color: $grayDark;
					font-size: 12px;
					left: 31px;
				}
			}

			a {
				display: block;
				text-decoration: none;
				@include rem-dimensions("padding", 15);
				position: relative;
				color: $grayDark;
				font-weight: 700;
				@include adjust-font-size-to(22px);

				&:hover,
				&.active {
					color: $green;
					@include single-transition(color, .2s, linear);
					span {
						@include css-circle($smoke, 15px, true, 2px solid $green);
					}
				}
			}
		}	
	}
}

