[angular-ripple] {
    position: relative;
    overflow: hidden;
    top: 5px;
  }
  .angular-ripple {
    display: block;
    position: absolute;
    background-color: rgba(#276446,0.2);
    border-radius: 50%;
    transform: scale(0);
  }
  .angular-ripple.animate {
    -webkit-animation: ripple 0.4s linear;
    animation: ripple 0.35s linear;
  }
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);   
    }
  }

  @-webkit-keyframes ripple {
     100% {
      opacity: 0;
      transform: scale(2.5);   
    }
  }