.nav-tabs {
	border-bottom: 1px solid $smoke;

	
	> li {
		display: inline-block;
		@include rem-dimensions("padding", 5 10 0 10);

		&:first-child {
			@include rem-dimensions("padding", 5 20 0 0);
		}

		&.active {
			a {
				//color: $green;
				//border-bottom: 1px solid $green;
				@include single-transition(background, .5s, linear);
				color: $white;
				font-weight: 500;
				background: $green;
			}
		}
		
		a {
			@include rem-dimensions("padding", 5 10);
			color: $black;
			text-transform: uppercase;
			display: block;
		}
	}
}


.tab-content {
	@include rem-dimensions("padding", 25 0 25 0);
	@include rem-dimensions("margin-bottom", 25);
	border-bottom: 1px solid $smoke;
	color: $grayDark;
	@include adjust-font-size-to(14px);

	h2 {
		@include adjust-font-size-to(18px);
	}
}
