<div>
<nav class="nav--desktop">
	<div>
		<a class="logo" href="#">
			<img src="/assets/img/gfxMilla/logo.png" alt="logo Milla">
		</a>
	</div>
	<ul class="nav-list">
		<li class="nav-list__item" data-ng-repeat="item in menuItems" >
			<a du-smooth-scroll du-scrollspy href="#<% item.id %>"><% item.title %>
				<span class="circle">
					<p class="date"><% item.date %></p>
				</span>
			</a>
		</li>
	</ul>
</nav>

<nav class="nav--mobile clear">

	<div class="span-centered-11">
		<div class="span-2-1">
			<a class="logo" href="#">
				<img src="/assets/img/gfxMilla/logo.png" alt="logo Milla">
			</a>
		</div>
		<ul class="span-10-3">
			<li class="nav--mobile__dropdown">
				<a ng-click="toggle.isOpen = !toggle.isOpen" href="" class="nav--mobile__dropdown--toggle">
					<i class="si-icons-easing si-icon-home-cross" data-icon-name="homeCross"></i>
				</a>
				<ul class="nav--mobile__dropdown-list slide" data-ng-show="toggle.isOpen">
					<li class="nav-list__item" data-ng-repeat="item in menuItems" >
						<a ng-click="setActive()" du-smooth-scroll du-scrollspy href="#<% item.id %>"><% item.title %></a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	
</nav>
</div>