/**
*
* BASE FORMS --------------------------------
* Here we define the base styling for a form
*
**/

$form-field-background-color: #FFF;
$form-field-border-color: #CCC;
$form-field-border-focus-color: $green;
$form-field-text-color: #666;
$form-field-placeholder-color: #666;
$form-field-box-shadow: $green;
$form-field-box-error-glow: #D54444;


$form-field-text-weight: 300;
$form-field-text-size: 16px;
$form-field-padding: 15;




// reset all form elements
@include reset-forms();


form {
	@include pie-clearfix();
}

fieldset {
	border: none;
	@include rem-dimensions("margin", 0 0 15 0);
	@include rem-dimensions("pading", 12 0);


	legend {
		font-weight: bold;
		@include rem-dimensions("margin", 0 0 16);
	}
}


input[type="color"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
textarea,
select {
	background: $form-field-background-color;
	border: 1px solid $form-field-border-color;
	@include border-radius(0);
	color: $form-field-text-color;
	font-weight: $form-field-text-weight;
	@include adjust-font-size-to($form-field-text-size);
	@include placeholder-style($form-field-placeholder-color);
	text-indent: 1px;
    text-overflow: '';
	@include rem-dimensions("padding", $form-field-padding);
	line-height: inherit !important; // firefox fix
	width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;

	@include single-transition(box-shadow, 0.2s, ease-in-out);  
}

select::-ms-expand {
    display: none;
}

select {
	padding-bottom: 12px;
}


input[type="color"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
select,
textarea {

	&:focus,
	&:active {
		outline: none;
		@include box-shadow(lighten($form-field-box-shadow, 10) 0 0 2px);
		border-color: $form-field-border-focus-color;
		
	}

	&.fieldValid:not(.form-searchField) {
		// icomoon ?
		
	}

	&.ng-error, &.fieldInvalid.ng-dirty {
		border-color: $form-field-box-error-glow;

		&:focus {
			@include box-shadow(lighten($form-field-box-error-glow, 10) 0 0 2px);
		}
	}
}