/**
*
* BASE LISTS -----------------------
* Here we define the basic styling for lists 
*
**/

ul, ol {
	padding: 0px;
	li {
		> a {
			text-decoration: none;
			width: 100%;
		}
	}
}


.inline-list {
	list-style: none;
	@include rem-dimensions("margin", 0 0 0 -5);

	li {
		display: inline-block;
		margin: 0;
		@include rem-dimensions("padding", 0 5);
		text-align: center;
	}
}


.list {

	list-style: none;
	li {
		margin: 0;
	}
	
}