//
// BASE RESET ---------------------------------------------------------
// Reset.css destroys all default browser styling (good for applications)
// Normalize.css tries to normalize browser differences (better for websites)
// This is a custom build/mix using best of both, based on personal needs
//
// Inspired by:
// - https://github.com/h5bp/html5-boilerplate/blob/master/css/normalize.css
// - https://github.com/getchopstick/chopstick-boilerplate
// - https://github.com/fffunction/sassaparilla
// - https://github.com/necolas/normalize.css
//

html {
	// Enable smooth fonts - Use with caution!
	// Support is not consistent & differences
	// in font-rendering are very noticable
	//-moz-osx-font-smoothing: grayscale;
	// -webkit-font-smoothing: antialiased;

	// Remove semi-transparent color overlay when users
	// click/tap something (especially on touch devices)
	// to disable it set value to 'transparent' or 'rgba(0,0,0,0)'
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);

	// Enable javascript pointer events on IE Mobile by disabling events in CSS
	// http://msdn.microsoft.com/en-us/library/ie/hh673557(v=vs.85).aspx
	//-ms-touch-action: none;

	// Prevent text size adjust on focus or after orientation
	// change without disabling zoom (via the viewport meta-tag)
	// https://developer.mozilla.org/en-US/docs/CSS/text-size-adjust
	-webkit-text-size-adjust: 100%;
	    -ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

//
// Correct 'block' display not defined in IE 8/9
// Note: this needs an additional javascript fix
// for older IE browsers (as alternative for html5shiv)
// Note: this needs to be 1/1 with js/libs/enable-html5.min.js
// - http://fortuito.us/diveintohtml5/semantics.html#unknown-elements
// - https://github.com/aFarkas/html5shiv
//

article, 
aside, 
figure, 
footer, 
header, 
nav, 
section, 
main { 
	display: block;
}

//
// Correct 'inline-block'
// not defined in IE 8/9
//

audio,
canvas,
progress,
video {
	display: inline-block;
}

//
// Remove background color
// from active links in IE10
//

a {
	background: transparent;
}

//
// Improve readability
// when focused & hovered
//

a:active,
a:hover {
	outline: 0;
}

//
// Remove border when
// placed inside 'a'-tag
//

img {
	border: 0;
	outline: 0;
}


//
// HELPERS ------------------------------------------------------------
// Fix the broken box-model
// Note: doesn't work in IE7 (padding is still added to the box width/height)
//
// Background info:
// - http://www.paulirish.com/2012/box-sizing-border-box-ftw/
// - https://developer.mozilla.org/en-US/docs/CSS/box-sizing
//

*,
*:before,
*:after {
	@include box-sizing(border-box);
}


//
// TABLES -------------------------------------------------------------
// Remove most spaces between table cells
// Added as a mixin so we can @include as needed
//
// Background info:
// - http://css-tricks.com/complete-guide-table-element
//

@mixin reset-tables {

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	th,
	td {
		vertical-align: middle;
		padding: 0;
	}

}


//
// FORMS --------------------------------------------------------------
// Reset/normalize forms (input, button, ...)
// Added as a mixin so we can @include as needed
//

@mixin reset-forms {

	//
	// Address Firefox 4+ setting
	// line-height using !important
	// in the UA stylesheet
	//

	button,
	input {
		line-height: normal;
		//-webkit-appearance: none;
		//   -moz-appearance: none;
	}

	//
	// Global normalize
	// and inheritance
	//

	button,
	input,
	select,
	textarea {
		color: inherit;
		font: inherit;
		//margin: 0;
	}

	//
	// Using <button> over <input type="button" />
	// because it offers more flexibility
	// input[type="button"],
	// input[type="reset"],
	// input[type="submit"],
	button,
	input[type="checkbox"],
	input[type="radio"] {
		cursor: pointer;
	}

	//
	// Address box sizing set to content-box
	// and remove excess padding in IE8+
	//

	input[type="checkbox"],
	input[type="radio"] {
		@include box-sizing(border-box);
		//padding: 0;
	}

	//
	// Remove inner padding and
	// border in Firefox 4+
	//

	button::-moz-focus-inner,
	input::-moz-focus-inner {
		padding: 0;
		border: 0;
	}

	//
	// Remove vertical
	// scrollbar in IE8+
	//

	textarea {
		overflow: auto;
		vertical-align: top;
		//outline: none;
		//border: none;
		//resize: vertical;
	}

}