/**
 * Root
 *
 * Styling of universal selectors, <html> and <body>
 */


/**
 * Import Google fonts
 */



@include establish-baseline; // Establish the vertical rhythm


/**
 * Universal selectors
 */

@include text-selection(#3e4651, $white); // Set text selection

* {
	@include reset-mp();
	border: 0;
	outline: none;
	text-rendering: optimizeLegibility;
}


/**
 * html and body element
 */

html {
	color: $text-color-dark;
	//background-color: $smoke;
	font-style: normal;
	font-family: $base-font-family;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	@include background-size('cover');
	-webkit-font-smoothing: antialiased;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}


body {
	position: relative;
	height: 100%;
	background: $white; 
	//min-width: 425px;
}


/**
 * Overrides
 */

html.no-scroll {

	body {
		overflow: hidden;
	}
}

a {
	color: $green;
	text-decoration: none;
}


/**
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
	font-family: $base-font-family;
}


