/**
*
* BASE TYPOGRAPHY --------------------------------
* Font sizes calculated on a modular scale of 1:√2 (1.414)
* Base font size: 14px
* Important number: 6
* http://modularscale.com/scale/?px1=14&px2=6&ra1=1.414&ra2=0
*/ 

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

/*================================
=            HEADINGS            =
================================*/

$h1-font-size: 34px !default;
$h2-font-size: 32px !default;
$h3-font-size: 24px !default;
$h4-font-size: 23px !default;
$h5-font-size: 17px !default;
$h6-font-size: 16px !default;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title-font-family;
	color: $title-color;
	margin: 0;
	@include padding-trailer(0.3);
	font-weight: 300;
}

h1 {
	@include adjust-font-size-to($h1-font-size);
	font-weight: 600;
}

h2 {
	@include adjust-font-size-to($h2-font-size);
	font-weight: 500;
}

h3 {
	@include adjust-font-size-to($h3-font-size);
	font-weight: 400;
}

h4 {
	@include adjust-font-size-to($h4-font-size);
}

h5 {
	@include adjust-font-size-to($h5-font-size);
}

h6 {
	@include adjust-font-size-to($h6-font-size);
}

.h1 {
	@extend h1;
}

.h2 {
	@extend h2;
}

.h3 {
	@extend h3;
}

.h4 {
	@extend h4;
}

.h5 {
	@extend h5;
}

.h6 {
	@extend h6;
}

/*======================================
=            CUSTOM HEADERS            =
======================================*/

h1.title {
	// custom header styles
	@include adjust-font-size-to(35px);
	font-weight: 600;
	text-transform: uppercase;
}

/*=================================
=            PARAGRAPH            =
=================================*/

p {
	@include adjust-font-size-to($base-font-size);
	@include adjust-leading-to(1.1);
	@include padding-trailer(0.9);
	margin: 0;
}



