/**
 * Helpers
 *
 * Classes that can be applied to any element.
 */

.table {
 	display: table;
 	height: 100%;
 	width: 100%;
}

.table-cell-center {
 	display:table-cell;
    position:relative;
	vertical-align:middle;
	text-align:center;
}

.clear {
	@include pie-clearfix();
}

.full-height {
	height: 100%;
}

.carousel {
	width: 100%;
}

.inline {
	display: inline;
}

.not-visible {
	visibility: hidden;
}

.fadein {
	@include animate-keyframes(fadein, 0.5s);
}

.fadeout {
	@include animate-keyframes(fadeout, 0.5s);
}

.pointer {
	cursor: pointer;
}

.break-word {
	-ms-word-break: break-all;
	     word-break: break-all;

	     /* Non standard for webkit */
	     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	    -ms-hyphens: auto;
	        hyphens: auto;
}

.full-background {
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
 
.section {
	position: relative;
	width: 100%;
	@include rem-dimensions('padding', 50 0 50 0);
	@include pie-clearfix();
}

.float-r {
	float: right;
}

.float-l {
	float: left;
}

img.desaturate {
	@include filter(grayscale(100%));
}

img.full-width {
	width: 100%;
	display: block;
}

.under-construction {
	@include rem-dimensions('padding', 50 0 50 0);
}


/**
 * Only readable for screenreaders
 */

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
