/**
 *	In time, all keyframe animations should reside here.
 */

/** Fadein animation **/
@include keyframes(fadein) {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/** Fadeout animation **/
@include keyframes(fadeout) {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

/** Blinking animation **/
@include keyframes(chatbox-blink) {
	50% {
		background-color: rgb(0, 157, 201);
	}

	100% {
		background-color: rgb(48, 49, 51);
	}
}

@include keyframes(chat-blink) {
	50% {
		color: rgb(255, 255, 255);
	}

	100% {
		color: rgb(0, 157, 201);
	}
}

/** Spinning animation **/
@include keyframes(spin) {
	from {
		@include rotate(0deg);
	}

	to {
		@include rotate(360deg);
	}
}

/** Slide searchbox from the side **/
@include keyframes(searchSlideIn) {
	from {
		opacity: 0;
		@include transform(translate(rem-dimensions(50), 0));
	}

	to {
		opacity: 1;
		@include transform(translate(0, 0));
	}
}

/** Slide searchbox from the side **/
@include keyframes(searchSlideOut) {
	from {
		@include transform(translate(0, 0));
	}

	to {
		@include transform(translate(0, rem-dimensions(-70)));
	}
}

@include keyframes(slideLoadingIn) {
	from {
		opacity: 0;
		@include transform(translate(0, rem-dimensions(-25)));
	}

	to {
		opacity: 1;
		@include transform(translate(0, 0));
	}
}

@include keyframes(slideLoadingOut) {
	from {
		opacity: 1;
		@include transform(translate(0, 0));
	}

	to {
		opacity: 0;
		@include transform(translate(0, rem-dimensions(25)));
	}
}

@include keyframes(feedbackSlideDown) {
	from {
		height: 0;
		opacity: 0;
	}

	to {
		height: auto;
		opacity: 1;
	}
}

/** Zoom in **/
@include keyframes(zoomIn) {
	from {
		@include scale(1.1);
	}

	to {
		@include scale (1);
	}
}

/** Slide in from bottom **/
@include keyframes(slideInFromBottom) {
	from {
		bottom: -100%;
	}

	to {
		bottom: 0;
	}
}
