/**
 * Text helper classes
 */

/**
 * Text
 */
.text-bold {
	font-weight: 600;
}

.text-italic {
	font-style: italic;
}

/**
 * Text alignment classes
 */
.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.text-nowrap {
	white-space: nowrap;
}


/**
 * Text transformation classes
 */
.text-lowercase {
	text-transform: lowercase;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-capitalize {
	text-transform: capitalize;
}