
/**

	TODO:
	- DEFAULT VALUES
	- default padding
	- default border
	- default margin
	- default radius
	- default 

**/


$default-btn-padding: 12px 22px !default; 
$default-btn-margin: 0 !default;
$default-btn-border: true !default;
$default-btn-radius: 0 !default;


@mixin btn(){
}

.btn-default {
	@include rem-dimensions("padding", 10 15);
	border: 1px solid $green;
	background: $white;
	color: $green;

	&:hover, &:active {
		background: $green; 
		color: $white;
	}

	&:disabled, &.disabled {
		border: 1px solid #999 !important;
		color: #666 !important;
		cursor: default !important;

		&:hover {
			background: none;  
		}
	}
}