/**
*
* GRID ----------------------------
*
**/


$class-type: unquote(".");


@mixin generate-assymetric-issolation-span-grid( $grids, $gutters, $prefix: "", $cols: $default-layout-cols) {
  
    @for $i from 1 to $cols +1 { 
        #{$class-type}#{$prefix}span-1-#{$i} {
            @if $i == 1 {
                @include isolation-span(1, $i, "left", $grid: ($grids), $gutter: ($gutters));
            }
            @else {
                @include isolation-span(1, $i, $grid: ($grids), $gutter: ($gutters));
            }
        }
    }
}


//
// .span-2-1 ---> 
//  2 is the span width  
//  1 is the position where we start
//

@mixin generate-isolation-span-grid($prefix: "", $cols: $default-collumns, $allowedSpan: $allowed-issolation-spans) {
  
  @for $i from 1 to $cols +1 {
    @each $j in $allowedSpan {
      @if $i + $j <= $cols+1 {
        #{$class-type}#{$prefix}span-#{$j}-#{$i} {
          @if $i == 1 {
            @include isolation-span($j, $i, "left");
          }
          @else {
            @include isolation-span($j, $i);
          }
        }
        #{$class-type}#{$prefix}span-centered-#{$j} {
				  // The first column starts at 1.
				  // As our values are zero-based, increment the starting col value by 1.
				  $starting-col: (($cols - $j) / 2) + 1;
				  @include isolation-span($j, $starting-col, "both");
			  }
      }
    }
  }
  // Add full classes for each namespace
	#{$class-type}#{$prefix}span-100 {
		@include isolation-span($cols, 1, "both");

		// Floating left to improve compatibilty with spans that start at index 1
		float: left;
	}
}

@mixin generate-floating-span-grid($prefix: "", $cols: $default-collumns, $allowedSpan: $allowed-floating-spans) {
  
  .floating-grid-container {
    @include pie-clearfix();
  }
  
  @each $span in $allowedSpan {
    #{$class-type}#{$prefix}float-#{$span} {
      float: left;
      width: ($span / $cols) * 100%; 
      padding-left: gutter-span();
  
      &.first {
        padding-left: 0px;
      }
      
      &.box {
        padding-left: 15px;
        padding-right: 15px;
      }
      
    }
  }
  
  #{$class-type}#{$prefix}float-25 {
    float: left;
    width: (($cols / 4) / $cols) * 100%;
    padding-left: gutter-span();
    
    &.first {
      padding-left: 0px;
    }

    &.box {
        padding-left: 15px;
        padding-right: 15px;
    }
  }
  
  #{$class-type}#{$prefix}float-50 {
    float: left;
    width: (($cols / 2) / $cols) * 100%;
    padding-left: gutter-span();
    
    &.first {
      padding-left: 0px;
    }
    &.box {
        padding-left: 15px;
        padding-right: 15px;
    }
  }
  
  #{$class-type}#{$prefix}float-100 {
    float: left;
    width: ($cols / $cols) * 100%;
    padding-left: gutter-span();
    
    &.first {
      padding-left: 0px;
    }
    &.box {
        padding-left: 15px;
        padding-right: 15px;
    }
  }
}

//
// MOBILE FIRST --------------------------------------------
//


@include generate-isolation-span-grid();
@include generate-floating-span-grid();

//
// TABLET SCREEN -------------------------------------------
// min 640px
//

@include respond-to('tablet') {
  @include generate-isolation-span-grid('tablet--', $tablet-collumns);
  @include generate-floating-span-grid('tablet--', $tablet-collumns);
}

//
// DESKTOP SCREEN ------------------------------------------
// min 960px
//

@include respond-to('desktop') {
  @include generate-isolation-span-grid('desktop--', $desktop-collumns);
  @include generate-floating-span-grid('desktop--', $tablet-collumns);
}

