
//
// The fonts folder should be living in the assets folder not in the scss folder
//

@font-face {
    font-family: "Icon";
    src:url(../sass/fonts/icomoon/icomoon.eot);
    src:url(../sass/fonts/icomoon/icomoon.eot?#iefix) format("embedded-opentype"),
        url(../sass/fonts/icomoon/icomoon.woff) format("woff"),
        url(../sass/fonts/icomoon/icomoon.ttf) format("truetype"),
        url(../sass/fonts/icomoon/icomoon.svg#icon) format("svg");
    font-weight: normal;
    font-style: normal;      
}

//
// WEBFONT ICONS ------------------------------------------------------
//

// Don't add relative paths here
// as thiongs get messed up when
// grunt builds a deploy version
// @include css-font-face("Icon", "../../../fonts/icons");

%icon-base:before {
    font-family: "Icon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    speak: none;
}

.icon-facebook:before,
.icon-menu:before,
.icon-instagram:before,
.icon-mail:before
{ 
    @extend %icon-base:before;
}


//
// ICONS --------------------------------------------------------------
// Use single quotes ('') for content in pseudo-selectors,
// double quotes ("") are not supported in <= IE8
//

.icon-facebook:before { content: '\e600'; }
.icon-menu:before { content: '\e601'; }
.icon-instagram:before { content: '\e602';}
.icon-mail:before {content: '\e603'}





