/**
 * functions to run when using keyframe animations
 * @params: name duration timing-function delay iteration-count direction
 */

 @mixin animate-keyframes($animationName, $duration: 1s, $timing-function: ease, $iteration-count: 1, $direction: normal, $delay: 0s, $fill-mode: forwards) {
 	animation: $animationName $duration $timing-function $iteration-count $direction $delay;
 	-webkit-animation: $animationName $duration $timing-function $iteration-count $direction $delay;
 	animation-fill-mode: $fill-mode;
 	-webkit-animation-fill-mode: $fill-mode;
 }

/**
 * Boilerplate for keyframed animations
 * @params: name
 */
@mixin keyframes($animationName) {

	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-ms-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}


 /**
  * Remove all animations
  */
/*CSS transitions*/
@mixin remove-animations() {
	-o-transition-property: none !important;
	-moz-transition-property: none !important;
	-ms-transition-property: none !important;
	-webkit-transition-property: none !important;
	transition-property: none !important;

	/*CSS transforms*/
	-o-transform: none !important;
	-moz-transform: none !important;
	-ms-transform: none !important;
	-webkit-transform: none !important;
	transform: none !important;

	/*CSS animations*/
	-webkit-animation: none !important;
	-moz-animation: none !important;
	-o-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
}


/**
 * Set animation play state
 */
@mixin animation-play-state($state) {
	-o-animation-play-state: $state;
	-moz-animation-play-state: $state;
	-webkit-animation-play-state: $state;
	animation-play-state: $state;
}
