/**
 * Functions
 *
 * Different helpers that can be used throughout A-stad
 */

/**
 * Strip units from any number
 */
@function su($number) {
  @return $number / ($number * 0 + 1);
}

// a map-set function (not included with Sass)
@function map-set($map, $key, $value) {
  $new: ($key: $value);
  @return map-merge($map, $new);
}

/**
 *  Convert unitless dimensions to pixels
 */
@function pixel-dimensions($numbers) {
	$v: "";
	@each $number in $numbers {
		@if type-of($number) == 'string' {
			$v: $v + $number + " ";
		}
		@else {
			@if unitless($number) {
				$v: $v + ($number * 1px) + " ";
			}
			@else {
				$v: $v + $number + " ";
			}
		}
	}
	@return unquote($v);
}


/**
 * Convert a pixel value to em
 */
@function em($pixels, $context: $base-font-size) {
	@if unitless($pixels) {
		@return #{$pixels/($context / 1px)}em;
	}
	@else {
		@if (unit($pixels) == "px") {
			@return #{$pixels/$context}em;
		}
		@else {
			@warn "The parameter value should be in pixels.";
		}
	}
}

/**
 * Return a space separated list as em values
 * e.g. padding: em-dimensions(10 20 10 15);
 */
@function em-dimensions($values, $context: $base-font-size) {
	$v: "";
	@each $value in $values {
		@if type_of($value) == "number" {
			$v: $v + em($value, $context) + " ";
		} @else {
			$v: $v + $value + " ";
		}
	}
	@return unquote($v);
}

/**
 * Convert a pixel value to rem
 */
@function rem($pixels, $context: $base-font-size) {

	@if unitless($pixels) {
		@return #{$pixels/($context / 1px)}rem;
	}
	@else {
		@if (unit($pixels) == "px") {
			@return #{$pixels/$context}rem;
		}
		@else {
			@warn "The parameter value should be in pixels.";
		}
	}
}

/**
 * Return a space separated list as rem values
 * e.g. padding: rem-dimensions(10 20 10 15);
 */
@function rem-dimensions($values, $context: $base-font-size) {
	$v: "";
	@each $value in $values {
		@if type_of($value) == "number" {
			$v: $v + rem($value, $context) + " ";
		} @else {
			$v: $v + $value + " ";
		}
	}
	@return unquote($v);
}

