/**
*
* GRID CONFIG FILE ---------------------------------------------------
* This file defines all default grid settings.
*
* Resources : https://github.com/at-import/Singularity
* This grid is based on the singularity grid.
*
**/


$default-collumns: 12;
$tablet-collumns: 12;
$desktop-collumns: 12;
$default-layout-cols: 2;

$tablet: 640px;
$desktop: 960px;

$allowed-issolation-spans: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 !default;
$allowed-floating-spans: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 !default;

// grids 
@include add-grid($default-collumns);
@include add-grid($tablet-collumns at $tablet);
@include add-grid($desktop-collumns at $desktop);

// breakpoints
$breakpoints: add-breakpoint('tablet', $tablet); // tablet == small screen
$breakpoints: add-breakpoint('desktop', $desktop); // desktop == large screen

// gutters
@include add-gutter(50/100);
@include add-gutter(32/100 at $desktop);

@include sgs-change('output', 'float');
@include sgs-change('direction', 'ltr');