/**
 * Mixins
 */


/**
 * Undocumented
 */

@mixin gradient ($startColor: #eee, $endColor: white) {
	background-color: $startColor;
	background: -webkit-gradient(linear, left top, left bottom, from($startColor), to($endColor));
	background: -webkit-linear-gradient(top, $startColor, $endColor);
	background: -moz-linear-gradient(top, $startColor, $endColor);
	background: -ms-linear-gradient(top, $startColor, $endColor);
	background: -o-linear-gradient(top, $startColor, $endColor);
}
@mixin horizontal-gradient ($startColor: #eee, $endColor: white) {
	background-color: $startColor;
	background-image: -webkit-gradient(linear, left top, right top, from($startColor), to($endColor));
	background-image: -webkit-linear-gradient(left, $startColor, $endColor);
	background-image: -moz-linear-gradient(left, $startColor, $endColor);
	background-image: -ms-linear-gradient(left, $startColor, $endColor);
	background-image: -o-linear-gradient(left, $startColor, $endColor);
}

@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease) {
	-webkit-animation:	$name $duration $delay $ease;
	-moz-animation:		$name $duration $delay $ease;
	-ms-animation:		$name $duration $delay $ease;
}

@mixin perspective ($value: 1000) {
	-webkit-perspective:	$value;
	-moz-perspective: 		$value;
	-ms-perspective: 		$value;
	perspective: 			$value;
}

// Calc() mixin
@mixin calc($property, $expression) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -o-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

// Box sizing mixin
// @include box-sizing($box-sizing)
@mixin box-sizing($bs) {
	-moz-box-sizing: $bs;
	-webkit-box-sizing: $bs;
	box-sizing: $bs;
}

// Border-box polyfill helper.
// @include border-box;
@mixin border-box {
	@include box-sizing(border-box);
}


/**
 * Utility mixins
 */

// Dimensions
@mixin dimensions($width, $height) {
	@include rem-dimensions("width", $width);
	@include rem-dimensions("height", $height);
}

// Square
@mixin square($dimension) {
	@include rem-dimensions("width", $dimension);
	@include rem-dimensions("height", $dimension);
}

// Margin & Padding
@mixin reset-mp() {
	margin: 0;
	padding: 0;
}

@mixin base-dimensions($margin: true, $padding: true) {
	@if $margin == true {
		@include base-margin();
	}

	@if $padding == true {
		@include base-padding();
	}
}

// Set base padding
@mixin base-padding() {
	@include rem-dimensions('padding', $base-padding);

	@include respond-to("tablet") {
		@include rem-dimensions('padding', $tablet-padding);
	}

	@include respond-to("desktop") {
		@include rem-dimensions('padding', $desktop-padding);
	}
}

// Set base margin
@mixin base-margin() {
	@include rem-dimensions('margin', $base-margin);

	@include respond-to("tablet") {
		@include rem-dimensions('margin', $tablet-margin);
	}

	@include respond-to("desktop") {
		@include rem-dimensions('margin', $desktop-margin);
	}
}

// Rem dimensions mixin with IE8 fallback
@mixin rem-dimensions($property, $dimensions, $context: $base-font-size) {
	#{$property}: pixel-dimensions($dimensions);
	#{$property}: rem-dimensions($dimensions, $context);
}

// Em dimensions mixin with IE8 fallback
@mixin em-dimensions($property, $dimensions, $context: $base-font-size) {
	#{$property}: pixel-dimensions($dimensions);
	#{$property}: em-dimensions($dimensions, $context);
}


// Navigation styles
@mixin list-vertical() {
	li {
		display: block;
	}
}

@mixin list-unstyled() {
	margin: 0;
	list-style: none;
}

@mixin list-horizontal($m: 0 10 0 0) {
	@include pie-clearfix();

	li {
		float: left;
		@include rem-dimensions("margin", $m);
	}
}

@mixin user-select($style) {
	$style: unquote($style);

	-webkit-touch-callout: $style;
	-webkit-user-select: $style;
	-khtml-user-select: $style;
	-moz-user-select: $style;
	-ms-user-select: $style;
	user-select: $style;
}

/**
 * Scale an icon to the supplied width
 *
 * @param	String  $ss		Spritesheet name where the icon is placed in
 * @param	String  $s		The icon classname
 */ 
@mixin scale-icon($ss, $s, $width) {

	$context: map-get($spritesheet-icon-context, $ss);
	$scale-factor: su($width) / $context;
	$original-spritesheet-dimensions: map-get($spritesheet-dimensions, $ss);
	$spritesheet-dimensions: map-get($spritesheet-icon-positions, $ss);

	// Set background size
	background-size: (nth($original-spritesheet-dimensions, 1) * $scale-factor * 1px) (nth($original-spritesheet-dimensions, 2) * $scale-factor * 1px);

	// Set icon position
	background-position: (su(nth(map-get($spritesheet-dimensions, $s), 1)) * $scale-factor * 1px) (su(nth(map-get($spritesheet-dimensions, $s), 2)) * $scale-factor * 1px);

	// Set width and height 
	width: $width * 1px;
	height: $width * 1px;
}

/**
 * Return the background position of an icon
 */
@mixin icon-position($ss, $s) {
	$original-spritesheet-dimensions: map-get($spritesheet-dimensions, $ss);
	$spritesheet-dimensions: map-get($spritesheet-icon-positions, $ss);

	background-position: (su(nth(map-get($spritesheet-dimensions, $s), 1)) * 1px) (su(nth(map-get($spritesheet-dimensions, $s), 2)) * 1px);
};


/**
 * Typography mixins
 */

// Adjust the letter spacing. This mixin implies a font unit of em
// and a parameter value in pixels.
@mixin adjust-letter-spacing-to($letter-spacing) {
	letter-spacing: $font-unit * ($letter-spacing * $base-letter-spacing);
}

// Text selection mixin
@mixin text-selection($background, $color) {
	::selection {
		background: $background;
		color: $color;
	}
	::-moz-selection {
		background: $background;
		color: $color;
	}
}

// Disable user text selection
@mixin disable-user-selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// Calculate text-color based on background-color
// @include text-color-contrast($color);
@mixin text-color-contrast($c) {
	// Calculations based on https://vimeo.com/60224584 (18:05)
	@if (.2126*red($c) + .7152*green($c) + .0722*blue($c))/255 <= .5 {
		color: #FFF;
	} @else {
		color: #000;
	}
}

// Input-placeholder: Cross-browser placeholder color mixin
// @include input-placeholder($color, $style, $weight);
@mixin placeholder-style($color, $style: "italic", $weight: "normal") {
	&:placeholder {
		color: $color;
		font:{
			style: $style;
			weight: $weight;
		}
	}

	&:-ms-input-placeholder{
		color: $color;
		font:{
			style: $style;
		}
	}

	&:-moz-placeholder {
		color: $color;
		font:{
			style: $style;
		}
	}

	&::-moz-placeholder{
		color: $color;
		font:{
			style: $style;
		}
	}

	&::-webkit-input-placeholder {
		color: $color;
		font:{
			style: $style;
		}
	}
}

// input-focus-reset
@mixin input-focus-reset() {
	input{
		&:focus{
			outline: none;
		}
	}

	textarea{
		&:focus{
			outline: none;
		}
	}
}

// Placeholder focus color mixin
@mixin placeholder-focus ($color) {
	input:focus {
		&::-webkit-input-placeholder { color: $color }
		&:-moz-placeholder { color: $color }
		&::-moz-placeholder { color: $color }
		&::-ms-placeholder { color: $color }
	}
}

// Paragraph columns mixins
@mixin set-columns($column-count, $column-gap: normal) {
	@include column-count($column-count);
	@include column-gap($column-gap);
}

@mixin columns($column-width, $column-count) {
	columns: $column-width $column-count;
	-moz-columns: $column-width $column-count;
	-webkit-columns: $column-width $column-count;
}

@mixin column-count($columns) {
	column-count: $columns;
	-moz-column-count: $columns;
	-webkit-column-count: $columns;
}

@mixin column-gap($column-gap) {
	column-gap: $column-gap;
	-moz-column-gap: $column-gap;
	-webkit-column-gap: $column-gap;
}

@mixin column-width($column-width) {
	column-width: $column-width;
	-moz-column-width: $column-width;
	-webkit-column-width: $column-width;
}

@mixin column-span($column-span) {
	column-span: $column-span;
	-webkit-column-span: $column-span;
}

@mixin column-rule($rule-width, $rule-style, $rule-color) {
	column-rule: $rule-width $rule-style $rule-color;
	-moz-column-rule: $rule-width $rule-style $rule-color;
	-webkit-column-rule: $rule-width $rule-style $rule-color;
}

//
// WEB FONTS ----------------------------------------------------------
// Various mixins for embedding custom web & icon fonts
// Note: if possible use Google web fonts
//
// Resources & online tools:
// - http://www.fontsquirrel.com/tools/webfont-generator
// - https://www.google.com/fonts
// - http://icomoon.io/app
//
// Note: we don't extend the Compass @font-face mixin because it
// doesn't play well with our Grunt setup (relative paths issue)
//
// USE ----------------------------------------------------------------
//
// @include FLOW-web-font("{{ FONT-NAME }}", "{{ FILE-NAME-WITHOUT-EXTENSION }}");
//

@mixin web-font($name, $url) {

	@font-face {
		font-family: $name;
		src:url($url +".eot");
		src:url($url +".eot?#iefix") format("embedded-opentype"),
		    url($url +".woff") format("woff"),
		    url($url +".ttf") format("truetype"),
		    url($url +".svg#icon") format("svg");
		font-weight: normal;
		font-style: normal;
	}

}

//
// CSS3 SHAPES --------------------------------------------------------
// Shorthand methods for creating CSS shapes
// Shapes may looked blurnth($color, 1) on hdpi screens caused
// by the paint-layer invoked by hardware acceleration
//
// Inspinth($color, 1) by:
// - https://css-tricks.com/examples/ShapesOfCSS
//

%shape {
	vertical-align: middle;
	display: inline-block;
	position: relative;
}

%pseudoshape {
	position: absolute;
	content: '';
}

//
// CSS3 TRIANGLE ------------------------------------------------------
// Shorthand method for creating CSS triangles
// Includes :hover state if the $color argument has 2 components
//
// USE ----------------------------------------------------------------
//
// .css-triangle {
//		@include css-triangle("up", 20px, #F00);
//		@include css-triangle("down", 2em, #F00 #0FF);
//		@include css-triangle("right", 2em, #F00 #00F, true);
// }
//

@mixin css-triangle($direction, $size, $color, $eq: false) {

	$eq-size: $size;
	// Calculate triangle base
	// for equilateral triangles
	@if $eq { $eq-size: $size * 2 * 0.866; }

	@if $direction == "up" {
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-bottom: $eq-size solid nth($color, 1);

		// Check if we need to
		// add a rollover state
		@if length($color) == 2 {
			&:hover,
			&:active {
				border-bottom-color: nth($color, 2);
			}
		}

	}

	@if $direction == "down" {	
		border-left: $size solid transparent;
		border-right: $size solid transparent;
		border-top: $eq-size solid nth($color, 1);

		// Check if we need to
		// add a rollover state
		@if length($color) == 2 {
			&:hover,
			&:active {
				border-top-color: nth($color, 2);
			}
		}

	}

	@if $direction == "left" {	
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-right: $eq-size solid nth($color, 1);

		// Check if we need to
		// add a rollover state
		@if length($color) == 2 {
			&:hover,
			&:active {
				border-right-color: nth($color, 2);
			}
		}

	}

	@if $direction == "right" {	
		border-top: $size solid transparent;
		border-bottom: $size solid transparent;
		border-left: $eq-size solid nth($color, 1);

		// Check if we need to
		// add a rollover state
		@if length($color) == 2 {
			&:hover,
			&:active {
				border-left-color: nth($color, 2);
			}
		}

	}

	content: '';
	@extend %shape;

}


/**
*
* CCS CIRCLE -------------------------------
* Create a circle
* Includes :hover state if the $color argument has 2 components
*
* USE --------------------------------------
*
* @include css-circle(#333 #444, 10px, true, #999);
*
**/

@mixin css-circle($backgroundColor, $d: 5px, $border: false, $borderProp: 1px solid #333) {
	
	background-color: $backgroundColor;
	width: $d;
	height: $d;
	@include border-radius(50%);
	display: inline-block;
	
	// Check if we need to 
	// add a rollover state
	@if length($backgroundColor) == 2 {
		
		&:hover,
		&:active {
			background-color: nth($backgroundColor, 2);
		}
	} 

	@if $border == true and length($borderProp) == 3 {
		border: $borderProp;
	}
}





