/**
 * Typography defaults
 */

$base-font-size:			 16px;
$font-ratio:				 1.414; // 1.618;
$base-line-height:			 $base-font-size * $font-ratio;
$base-letter-spacing:		 1px / $base-font-size;
$round-to-nearest-half-line: true; // Allows the adjust-font-size-to mixin and the lines-for-font-size function to round the line height to the nearest half line height instead of the nearest integral line height to avoid large spacing between lines
$relative-font-sizing:		 true; // Font sizes used are relative
$min-line-padding:			 2px; // Ensure there is at least this many pixels of vertical padding above and below the text.


$base-font-family: 'Open Sans', sans-serif;
$title-font-family: $base-font-family;