/**
*
* CONFIF VARIABLES -----------------------------
* You can use any of this variables in all the scss files
*
* 1. Base colors
* 2. Text Colors 
*
**/

/*===================================
=            BASE COLORS            =
===================================*/

/* gray colors */

$white:     #ffffff;
$black:     #333333;
$grayDark:  #666666;
$gray:      #999999;
$grayLight: #cccccc;
$smoke:     #ebebeb;

/* Functional colors */

//$green:     #5AD096;
// this color isn't green!
// change variable name!
$green: #1FC9D0;

/*===================================
=            TEXT COLORS            =
===================================*/

$base-font-color: $gray;

$text-color: $base-font-color;
$text-color-dark : $grayDark;
$title-color: $black;

/*====================================
=            Z INDEX LIST            =
====================================*/

$z-index-list: (
	navigation: 10,
	action: 20,
);














