<script type="text/ng-template" id="inputfield-select.htm">
	<div class="inputWrapper <% layout.fieldClass %>" data-ng-class="{labelHidden: label.length == 0, noValidation: validation == undefined}">
		<label data-ng-show="label.length > 0" data-ng-class="{required: validation.required != undefined && validation.required}" for="<% id %>">{{ label }}</label>
		<span data-ng-show="label.length == 0" data-ng-class="{required: validation.required != undefined && validation.required}"></span>
		<div class="select-wrapper">
			<select class="<% fieldStyle %>" id="<% id %>" name="<% name %>" data-ng-model="ngModel" data-ng-options="o.key as o.value for o in ngOptions" data-ng-change="onChange()" data-ng-click="onClick($event)" data-ng-focus="onFocus($event)" data-ng-blur="onBlur($event)" data-ng-disabled="disabled || state.printLoadingText" data-ng-class="{'select-mini': isMini}">
				
				<option value="" disabled="disabled">
					<% state.printLoadingText ? (loadingplaceholder || "Laden...") : placeholder %>
				</option>
			</select>
			<div class="field-problem" data-ng-show="(errorMessage.length > 0 && !state.isValid && state.hasBeenValid) || forceError">
				<p data-ng-if="!state.isValid"><span><% errorMessage %></span></p>
				<p data-ng-if="state.isValid && forceError"><span><% forceError %></span></p>
			</div>
		</div>
	</div>
</script>


