<script type="text/ng-template" id="inputfield-default.htm">
	<div class="inputWrapper <% layout.fieldClass %>" data-ng-class="{labelHidden: label.length === 0, noValidation: validation === undefined}">
		<label data-ng-show="label.length > 0" data-ng-class="{required: validation.required != undefined && validation.required}" for="<% id %>"><% label %></label>
		<span data-ng-show="label.length == 0" data-ng-class="{required: validation.required != undefined && validation.required}"></span>
		<div class="inputLayoutWrapper">
			<input
				class="<% fieldStyle %>"
				data-ng-class="{fieldValid: state.isValid, fieldInvalid: !state.isValid, 'ng-dirty': state.dirty, 'ng-pristine': !state.dirty}"
				id="<% id %>"
				name="<% name %>"
				type="<% type %>"
				tabindex="<% tabindex %>"
				data-ng-model="ngModel"
				placeholder="<% placeholder %>"
				data-ng-change="onChange()"
				data-ng-click="onClick($event)"
				data-ng-focus="onFocus($event)"
				data-ng-blur="onBlur($event)"
				data-ng-readonly="readonly"
				data-ng-disabled="disabled" />
				<div class="field-problem" data-ng-show="(errorMessage.length > 0 && !state.isValid && state.hasBeenValid) || forceError" data-ng-cloak>
					<p data-ng-if="!state.isValid"><span><% errorMessage %></span></p>
					<p data-ng-if="state.isValid && forceError"><span><% forceError %></span></p>
				</div>
			
			</div>
		</div>
	</div>
</script>

