.production {
	@include rem-dimensions("margin", 25 0 50 0);
	@include rem-dimensions("padding-bottom", 50);
	border-bottom: 1px dashed $grayLight;
	header {
		.date {
			@include adjust-font-size-to(14px);
			@include rem-dimensions("margin-bottom", 10);
			color: $grayDark;
			font-weight: 600;
			display: inline-block;
		}
	}

	.content {
		@include rem-dimensions("margin-bottom", 25);
	}

	.colofon {
		strong {
			font-style: italic;
		}
	}

	.quote {
		font-style: italic;
		@include rem-dimensions("margin-bottom", 25);
		font-weight: 300;
		@include adjust-font-size-to(17px);
	}

}